@import "./styles/colors.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 60px;
  width: 60px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid $base_color;
}

@media (hover: hover) and (pointer: fine) {
.image-gallery-icon:hover {
    color: $base_color;
}
}

.accordion .accordion-item {
  border: none;
}

.accordion .accordion-button:focus {
  box-shadow: 0;
  border-color: #fff;
  box-shadow: none;
}

.accordion .accordion-button {
  position: relative;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem 1rem 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, border-radius 0.15s ease,
    -webkit-box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    border-radius 0.15s ease, -webkit-box-shadow 0.15s ease-in-out;
}

.accordion .accordion-button:not(.collapsed) {
  color: $base_color;
  box-shadow: none;
  background-color: #fff;
}

.accordion .accordion-body {
  padding: 0rem 1.25rem;
}

.accordion ul {
  padding-left: 0;
}

.accordion-header button:hover {
  color: $base_color;
}

.pagination .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $base_color;
  border-color: $base_color;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.pagination .page-link {
  position: relative;
  display: block;
  color: #333;
  text-decoration: none;
  background-color: #dcdcdc;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.pagination .page-link {
  &:hover {
    z-index: 2;
    color: #fff;
    background-color: $base_color;
  }
  &:focus {
    box-shadow: none;
  }
}

.admin-nav nav {
  color: red;
}
